/* =============
    Header
============= */
header{
  
    #logo-nav{
    background-color: seagreen;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". logo-nav .";    
    >div{

        grid-area: logo-nav;
    }
       }



    
   
    #form-content {
        background-color: darkgreen;
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". form-content .";   
        div{
            grid-area: form-content;
    
        }
    }
   
   

  
    
    }
